.about h4,
.about h2,
.about p {
    font-family: var(--font-sencondary);
}
.about p {
    font-size: 18px;
    color: rgb(168, 168, 168);
    margin: 20px 0;
}
.about .thumb {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.about .thumb img {
    transition: 0.5s;
}
.about .thumb img:hover {
    transform: scale(1.1);
}
.about .button {
    margin-top: 30px;
}
@media (max-width: 960) {
    .about .thumb {
        display: flex;
        flex-direction: column;
    }
}
