.blog {
    margin: 20px 0;
}
.blog .thumb {
    position: relative;
    overflow: hidden;
}
.blog .thumb img {
    transition: 0.5s;
}
.blog .thumb:hover img {
    transform: scale(1.1);
}
.blog h3 {
    font-family: var(--font-sencondary);
    margin: 10px 0;
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
}
.blog h3:hover {
    color: var(--secondary-color);
}
.blog .thumb p {
    position: absolute;
    padding: 5px;
    top: 10px;
    left: 10px;
    background-color: var(--secondary-color);
    color: white;
}
