.card-product {
    color: black;
}
.card-product .thumb img {
    border-radius: 10px;
}
.card-product .thumb {
    position: relative;
    cursor: pointer;
}
.card-product .thumb::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.388);
    opacity: 0;
    transition: 0.5s;
}
.card-product .thumb:hover::after {
    opacity: 1;
}
.card-product .title {
    margin-top: 10px;
}
.card-product h3 {
    font-size: 18px;
    color: rgb(153, 148, 148);
}
.card-product h2 {
    font-size: 20px;
}
.card-product p {
    color: orange;
    font-weight: bold;
    font-size: 20px;
}
.card-product .sale {
    position: absolute;
    padding: 5px 7px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    top: 10px;
    left: 10px;
}
.price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price .false {
    font-size: 20px;
    color: orange;
    font-weight: bold;
}
@media (max-width: 500px) {
    .card-product .price {
        display: block;
    }
    .card-product .sale {
        padding: 5px;
        font-size: 12px;
        top: 3px;
        left: 3px;
    }
    .card-product h3 {
        font-size: 12px;
    }
    .card-product h2 {
        font-size: 15px;
    }
}
