.detail {
    margin: 20px 0;
}
.detail .choose .plus-minus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(189, 186, 186);
    width: 35%;
    padding: 10px;
    margin: 20px 0;
}
.detail .choose .plus-minus input {
    border: none;
    outline: none;
    text-align: center;
    width: 50%;
}
.detail .choose .plus-minus i {
    font-size: 20px;
    cursor: pointer;
    color: rgb(96, 96, 96);
}
.detail .thumb {
    margin-bottom: 20px;
}
.detail .slick-slide img {
    padding: 0 5px;
}
@media (max-width: 991px) {
    .detail .choose .plus-minus {
        width: 80%;
    }
}
